#Internal Mac files
.DS_Store

#Terraform local state folder
.terraform/

#Temp zip of the lambda code
lambda_code.zip

#Node modules
node_modules/

#Frontend cache & node modules
frontend/.cache/
frontend/node_modules/
frontend/public/